.home-page {
    display: flex;
    flex-wrap: wrap;

    text-decoration: none;
    flex-direction: row;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-y: auto;
    margin-left: 1.6rem;

}

.home-page a {
    text-decoration: none;
    width: 18rem;
    height: 15rem;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    margin-right: 1rem;

    padding: 3px 5px 3px 5px;
    border-radius: 20%;


}

.home-page a img {

    border-radius: 10%;
}

.home-page-carousel {
    margin-top: 1rem;
    margin-right: 1rem;
}