.footer{
    margin-top: 2rem;
    left: 0;
    bottom: 0;
    height: 10rem;
    width: 100%;
    background-color: rgb(72, 68, 68);
    color: white;
    scroll-behavior: auto;
    overflow-y: auto;
    flex: 1;
    justify-content: center;
    align-content: center;

}
.footer-containt{
    display: flex;
    justify-content: center;
}
.footer-contact{
    margin-right: 1rem;
    height: 2rem;
}
.footer-about{
    margin-right: 1rem;
    height: 2rem;
}
.footer-social{
    margin-right: 1rem;
    height: 2rem;
}
.footer-made{
    display: flex;
    justify-content: center;
   /* margin-bottom: 1rem; */
}
